* {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;

}

body {
    background-color: black;
    width: 800px;
    height: auto;


}

.container {
    display: flex;
    width: 200px;
    height: 400px;
    max-width: 600px;
    background-color: aqua;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



}

.container2 {
    display: flex;
    width: 200px;
    height: 400px;
}